header {
    padding: 250px 60px 120px;

    h1 {
        font-family: $title-font;
        font-size: 75px;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: 0;
        width: 100%;
        max-width: 1030px;
    }

    a {
        background-image: 
        repeating-linear-gradient(-45deg, #ffb400, #ffb400 1px,transparent 0, transparent 12px),
            repeating-linear-gradient(45deg, #ffb400, #ffb400 1px,transparent 0, transparent 12.2px);
        background-position: 0px 102%, 2px 102%;
        background-size: 17px 10px;
        background-repeat: repeat-x;
        animation: .8s infinite normal title;
        animation-timing-function: linear;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 300px 30px 40px;
        & h1 {
            font-size: 35px;
            line-height: 42px;
        }
    }
}