.navbar-container {
    
    & .mobile-nav {
        display: none;

        &__content {
            &--active {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                overflow-y: scroll;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9;

                & .blocks {
                    width: 100%;
                    position: relative;
                    min-height: 85vh;

                    & a {
                        position: absolute;
                        width: 50%;
                        height: 50%;
                        transition: transform .3s cubic-bezier(.23, 1, .32, 1);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & span {
                            font-family: $text-font;
                            font-size: 20px;
                            color: #000;
                            transform-origin: center;
                        }

                        &:first-child {
                            top: 0;
                            left: 0;
                            transform-origin: top left;
                            background: #fff;
                            animation: blur-in-expand 0.2s;

                            & span {
                                transform: rotate(-45deg);
                            }
                        }

                        &:nth-child(2) {
                            top: 0;
                            right: 0;
                            transform-origin: top right;
                            background: #5ea3ec;
                            animation: blur-in-expand 1s;


                            & span {
                                transform: rotate(45deg);
                            }
                        }

                        &:nth-child(3) {
                            bottom: 0;
                            left: 0;
                            transform-origin: bottom left;
                            background: #f64444;
                            animation: blur-in-expand 2s;

                            & span {
                                transform: rotate(45deg);
                            }
                        }

                        &:last-child {
                            bottom: 0;
                            right: 0;
                            transform-origin: bottom right;
                            background: #ffb400;
                            animation: blur-in-expand 3s;

                            & span {
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }

                & .info {
                    padding: 30px;
                    background: #fff;
                    animation: blur-in-expand 3s;

                    & a {
                        display: block;
                        font-family: $text-font;
                        color: #000;
                        margin-bottom: 30px;
                        @include button-principal;
                    }

                    & p {
                        font-size: 16px;
                        line-height: 21px;
                        color: #000;
                        font-family: $text-font;
                        margin-bottom: 30px;
                    }

                    & .social {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-column-gap: 30px;
                        margin-top: 40px;

                        a {
                            padding: 0;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0;

                            & svg {
                                width: 30px;
                                height: 30px;
                            }
                        }


                    }
                }
            }

        }
    }


    & .logo-container {
        & a {
            transform: translateX(55px) scale(1);
            position: fixed;
            top: 60px;
            left: 1px;
            z-index: 9;
            width: 100%;
            max-width: 50px;
            will-change: transform;

            & svg {
                width: 50px;
                height: 60px;
                opacity: .7;
            }
        }
    }

    & nav {
        padding: 0;
        margin: 0;
        position: fixed;
        width: 100%;       
        height: 100%;
        display: flex;
        justify-content: flex-end;

        & a {
            height: 100%;
            padding: 60px 5px;
            font-family: $text-font;
            min-width: 60px;
            width: 60px;
            position: relative;
            will-change: width;
            cursor: pointer;
            

            &:nth-of-type(2) {
                background-color: rgb(94, 163, 236);
                transform: matrix(1, 0, 0, 1, 0, 0);

            }

            &:nth-of-type(3) {
                background-color: rgb(246, 68, 68);
                transform: matrix(1, 0, 0, 1, 0, 0);
            }

            &:nth-of-type(4) {
                background-color: rgb(255, 180, 0);
                transform: matrix(1, 0, 0, 1, 0, 0);
            }

            & p {
                font-size: 20px;
                text-align: center;
                padding-top: 16px;
            }

            & span {
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform-origin: center;
                transform: translateY(-50%) translateX(-50%) rotate(90deg);

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar-container {
        & .logo-container a {
            top: 30px;
            left: 30px;
            transform: translateX(0) !important;
            position: fixed;
        }

        & nav {
            display: none;
            visibility: hidden;
        }

        & .mobile-nav {
            display: flex;

            &__toggle {
                position: fixed;
                z-index: 10;
                right: 30px;
                top: 45px;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            &__open {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                position: fixed;
                z-index: 10;
                right: 30px;
                top: 45px;
                width: 30px;
                height: 30px;
                animation: slide-left 0.4s linear both;

                & span {
                    width: 100%;
                    height: 1px;
                    background: #000;
                }
            }

            &__close {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                animation: slide-right 0.4s linear both;

                & span {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    height: 1px;
                    background: #000;
                    transform-origin: center;


                    &:first-child {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }

            }

            &__content {
                display: none;
                visibility: hidden;
            }

        }
    }
}


@keyframes slide-right {
    0% {
        transform: translateX(-25px)
    }

    100% {
        transform: translateX(0)
    }
}


@keyframes slide-left {
    0% {
        transform: translateX(25px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes blur-in-expand {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}